.container {
    margin-top: 15px;
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
    box-shadow: 0 5px 10px -5px black;
}

.header-title {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-price {
    height: 170px;
}

.add-btn {
    width: 100%;
    border: none;
    background-color: rgb(255, 197, 206);
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: rgb(87, 22, 87)
}

.header-price {
    font-size: 20px;
}

@media (max-width: 768px){
    .container {
        width: 47%;
    }
}

@media (min-width: 1024px){
    .container {
        width: 20%;
    }
}